@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text {
  vertical-align: baseline;
  text-align: center;
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}

.inputPhone {
  width: 280px;
  background-color: rgba(244, 244, 246, 0.4);
  box-shadow: 2px 2px 23px 9px rgba(0, 0, 0, 0.39);
  border-radius: 5px;
}

.text-footer {
  color: rgb(186, 186, 183);
}

.color-nav,
.color-footer {
  background-color: rgb(65, 94, 94);
}
